body {
    font-family: sans-serif;
    background: linear-gradient(100deg, #224aec, #55abe4);
}
h1 {
    font-size: 55;
    font-weight: bold;
    color: blanchedalmond;
}
input {
    font-size: 30;
    font-weight: bold;
    color : #dddddd;
    border: 4px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: linear-gradient(#2d58e6, #0a2db5);
}
#q1, #q2, #q3, #q4, #q5, #q6{
    width: 100%;
}
#linie {
    display: flex;
}
#maimuta {
    width: 100%;
    height: auto;
}